<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite" parallel="classes">
	<test name="ChromeTestOne">
		<classes>
			<class name="runner.TestRunner" />
			<class name="runner.TestRunner2" />
			<class name="runner.TestRunner3" />
		</classes>
	</test>
</suite>